/*
Section Backgrounds
 */

$main-header-background:	linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,0.6) 100%), 
					url('/images/campus.jpg');
$user-box-background: 		$amber-800;
$game-background:		$lightBlue-900;
$main-footer-background:	$gray-900;

$body-font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$heading-font-family: "Roboto Slab", "Georgia", "Times New Roman", serif;